<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.ding.server.mapper.WordMapper">

    <select id="findOne" resultType="Word">
        select ranking, word, pos
        from six
        where word = #{word}
          and pos = #{pos}
    </select>
    
    <select id="findAll" resultType="Word">
        select ranking, word, pos
        from six
        where word = #{word}
    </select>

</mapper>